$green: #458656;
$lightgray: #f2f2f2;
$darkgray: #c4c4c4;
$sidebar-width: 80%;

* {
  font-family: "Nunito", sans-serif;
}

button {
  background-color: black;
  color: white;
  font-size: 11pt;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

input {
  color: $green;
  font-size: 16pt;
  border: 0;
}

input:is([type="text"]) {
  min-width: 95%;
  margin: 5px auto;
}

input:is([type="number"]) {
  width: 60px;
  text-align: center;
  font-size: 12pt;
}

li {
  list-style: none;
}

.sidebar-container {
  width: 20%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-color: gainsboro;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  button {
    margin: 5px auto;
  }

  @mixin sidebar-item($weight) {
    width: $sidebar-width;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding-bottom: 10px;
    border-bottom: $weight solid $lightgray;
  }

  .sidebar-item-last {
    @include sidebar-item(0px);
    margin-bottom: 20px;
  }

  .sidebar-item {
    @include sidebar-item(1px);
  }

  .sidebar-title {
    width: 60%;
    font-weight: 600;
  }

  .sidebar-buttons {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
      font-size: 15pt;
    }
  }

  .sidebar-controls {
    height: 100%;
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 20px;

    .logout {
      cursor: pointer;
      font-weight: 800;
      font-size: 10pt;
    }

    button {
      width: 100%;
    }
  }
}

.menu-container {
  width: 80%;
  margin-left: 20%;

  .menu {
    margin: 0 auto;
    width: 80%;
    color: $green;

    .menu-header {
      max-width: min-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .menu-title {
        font-size: 40pt;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
      }
    }

    .price {
      display: flex;
      align-items: baseline;
    }

    .gen-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .section-header {
        font-size: 10pt;
        text-align: center;
      }
    }

    .section {
      width: 100%;
      background-color: white;
      padding: 3% 8% 5% 8%;
      box-sizing: border-box;
      margin: 10px auto;
      border: 1px solid $darkgray;
      border-radius: 10px;
      box-shadow: 2px 3px 4px 2px $lightgray;
      display: flex;
      flex-direction: column;

      .section-header {
        width: 100%;
        font-style: italic;
        font-weight: 800;
      }

      .price {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 9.5pt;

        .section-price {
          font-size: 9.5pt;
        }
      }

      .price-empty {
        width: 100%;
        text-align: center;
        font-size: 9.5pt;
      }

      .item {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid $darkgray;
        border-radius: 10px;
        background-color: $lightgray;
        display: flex;
        flex-direction: column;

        input {
          background-color: $lightgray;
        }

        .item-title {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-weight: 800;
        }

        .item-includes {
          width: 100%;
          font-size: 9.5pt;
          text-align: center;
        }

        .desc-body {
          width: 100%;
          font-size: 12pt;
        }
      }
    }

    .add {
      padding: 3px 50px;
      margin: 10px auto;
      background-color: $green;
      box-shadow: 1px 2px 1px 1px $darkgray;
    }
  }
}
