$green: #5a8967;

* {
  font-family: "Nunito", sans-serif;
}

button {
  background-color: black;
  color: white;
  font-size: 11pt;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
}

input {
  color: $green;
  font-size: 16pt;
}

li {
  list-style: none;
}

// input::placeholder {
//   color: $green;
// }

.menu-container {
  width: 100%;
}

.menu {
  margin: 0 auto;
  width: 80%;
}

.price {
  display: flex;
  align-items: baseline;
}
